{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'ispproject/bootstrap.min.css' %}" />


    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ISP Project</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/ispproject/select">项目选择器</a></li>
        <li><a href="/">回到首页</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/document">开发文档</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
    <div class="row">
      <h2>Project</h2>
      <!--<ul>-->
        <!--{% for project in object_list %}-->
        <!--<li>{{ project.product_version}}</li>-->
        <!--{% endfor %}-->
      <!--</ul>-->
      <table class="table table-striped">
        <!--<caption>Project</caption>-->
        <thead><tr>
          <td>Serial Number</td>
          <td>Class Level</td>
          <td>Status Level</td>
          <td>Stage Level</td>
          <td>Product Version</td>
          <td>Leader Name</td>
          <td>Guest Name</td>
          <td>Research Engineer</td>
          <td>Product Manager</td>
          <td>Go To</td>
        </tr></thead>
        <tbody>
        {% for project in object_list %}
        <tr>
          <td>{{ project.serial_number}}</td>
          <td>{{ project.class_level}}</td>
          <td>{{ project.status_level}}</td>
          <td>{{ project.stage_level}}</td>
          <td>{{ project.product_version}}</td>
          <td>{{ project.leader_name}}</td>
          <td>{{ project.guest_name}}</td>
          <td>{{ project.rd_name}}</td>
          <td>{{ project.pm_name}}</td>
          <td><a href="detail/{{project.serial_number}}/">Go To</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="row">
        <h4 style="text-align:center">@All rights reserved by TP-LINK ServiceProvider Bussiness Department.</h4>
    </div>

  </div>
</nav>