
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
      <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-inverse">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Project</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="page-header">
                <h1>运营商事业部 <small>多功能办公系统</small></h1>
            </div>
            <div class="jumbotron">
                <h1>ISP department</h1>
                <p>首页通知预留部分</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">首页通知跳转链接</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">标案组紧急项目一</h4>
                        <p class="list-group-item-text">标案组紧急项目一概述</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">标案组紧急项目二</h4>
                        <p class="list-group-item-text">标案组紧急项目二概述</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">标案组紧急项目三</h4>
                        <p class="list-group-item-text">标案组紧急项目三概述</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">标案组。。。</h4>
                        <p class="list-group-item-text">标案组紧急项目概述</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">标案组。。。</h4>
                        <p class="list-group-item-text">标案组紧急项目概述</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">标案组紧急项目一</h4>
                        <p class="list-group-item-text">标案组紧急项目一概述</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">标案组紧急项目二</h4>
                        <p class="list-group-item-text">标案组紧急项目二概述</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">标案组紧急项目三</h4>
                        <p class="list-group-item-text">标案组紧急项目三概述</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">标案组。。。</h4>
                        <p class="list-group-item-text">标案组紧急项目概述</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">标案组。。。</h4>
                        <p class="list-group-item-text">标案组紧急项目概述</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
               <div class="thumbnail">
                   <img data-src="" alt="...">
      <div class="caption">
        <h3>特殊外部链接预留空间</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
            </div>
        </div>
    </div>
  </body>

